

    <% @categories.each do |c| %>

    	<div class="tab-pane" id="<%=c.name%>">
    		

	       	<div class="col-sm-9 column">  

	                <div class="panel panel-default">
	                  <div class="panel-heading">
	                    <h3 class="panel-title"><%=c.name%></h3>
	                  </div>
	                  <div class="panel-body">
	                    <br>
	                    
							<div class="list-group">

							    <% c.links.each do |l| %>

							        <h4 class="list-group-item-heading" align="left"><%= link_to l.title, l.url, :target => '_blank' %> | <%= link_to "See entry", l %></h4>

							        <p class="list-group-item-text" align="left"> 
							<!--This section displays the note "category" and allows for updating directly from the homepage -->
							            <div align="left">
							                        
							                <%= form_for l do |f| %>
							                    <fieldset>
							                        <%= f.label :Category %><b>:</b>
							                        <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>

							                        <%= f.submit 'Categorize!' %>
							                    </fieldset>
							                <% end %>

							            </div>

							<!--Old static category code NOT CURRENTLY USED
							        <% if l.category == nil %>
							            <b> Not yet categorized </b>
							        <% else %>
							            <%= l.category.name %>
							        <% end %></p>
							-->



							        <p class="list-group-item-text" align="left"><b>Created</b>: <%= l.created_at.to_date.to_formatted_s(:long_ordinal) %> ||   
							        <% if l.updated_at == nil %>
							            <b> Never updated </b>
							        <% else %>
							            <b>Updated</b>: <%= l.updated_at.to_date.to_formatted_s(:long_ordinal) %>
							        <% end %></p>
							        
							        <%= button_to 'delete', {:controller => :links,
							            :action => 'destroy', :id => l.id }, :method => :delete %>
							        <br>

							    <% end %>

							 </div>


						</div>
				    </div>

				</div>
			</div>

	<% end %>







