<!-- This page renders the high level view of LINKS (Called NOTES in the app), and allows for quick edits in the CATEGORY-->

<% if @links == nil %>
	<p class="lead"> You don't have any notes yet :( you can add one above </p>

<% else %>

<div class="list-group">

    <div class="row">


        <% @links.each do |l| %> <!-- will repeat for all the selected links, may be 5 (default at log-in), search, or all -->


            <h4 class="list-group-item-heading col-sm-offset-1 text-left"><%= link_to l.title, l.url, :target => '_blank'%></h4>


        <div class="row">
            
    <!--This section displays the note "category" and allows for updating directly from the homepage -->
                <div class="col-sm-6 col-sm-offset-1 text-left">
                            
                    <%= form_for l do |f| %>
                        <fieldset>
                            <%= f.label :Category %><b>:</b>
                            <%= f.collection_select :category_id, Category.user_categories(current_user.id).order(:name),:id,:name, include_blank: true %>

                            <%= f.submit 'Categorize!', :class => "btn btn-default btn-xs"%>
                        </fieldset>
                    <% end %>

                    <p class="list-group-item-text" align="left"><b>Created</b>: <%= l.created_at.to_date.to_formatted_s(:long_ordinal) %> ||   
                    <% if l.updated_at == nil %>
                        <b> Never updated </b>
                    <% else %>
                        <b>Updated</b>: <%= l.updated_at.to_date.to_formatted_s(:long_ordinal) %>
                    <% end %></p>

                </div>

    <!-- This section displays more sundry info and adds a DELETE button to destroy the LINK (called NOTE in the app) -->
                <div class="col-sm-5 col-sm-offset-0 text-left">

            <!-- Java implementation of Twitter button-->
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=l.url%>" data-text="<%=l.title%>" data-via="ReMNDit" data-lang="en" data-count="none">Tweet</a>
                    
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                   
                    <br>

                    <%= link_to "See entry", l , :class => "btn btn-default btn-xs" %>
                
                    <%= link_to 'delete', {:controller => :links,
                        :action => 'destroy', :id => l.id }, :method => :delete, :class =>"btn btn-default btn-xs"%>

                </div>

        </div>
                
            <br>

        <% end %>

            <br>
    </div>

</div>

<% end %>
