
           
<!-- Rails Code -->

<% if user_signed_in? %>

<!-- end of rails code -->

<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0 text-center">

<!-- Rails code -->

          <h2>Hello <% if @user.name != nil%>
                    <%= @user.name %>,
                    <%end%>
          here are your most recent notes</h2>


      <div class="col-sm-3 column">  
      <h3 class="panel-title">My Categories</h3><br>
      <ul class="text-center nav nav-pills nav-stacked">
        <li class="active"><a href="#newnotes" data-toggle="tab">Recent Notes</a></li>
        <%= render 'categories' %>
        <li><%= link_to "Edit Categories", '/categories/show_all' %></li>
      </ul>
      </div>


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="newnotes">

       <div class="col-xs-8 col-sm-8 col-md-8 column">  

                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Recent Notes</h3>
                  </div>
                  <div class="panel-body">
                    <%= link_to "see all recent entries!", controller:"main", action:"links" %>
                    <br>
                    <br>
                    <%= render 'links' %>
                  </div>
                </div>
       </div>

  </div>

 <%= render 'categorypanes'%>

</div>

<!-- end of rails code -->
              
    </div>
  </div>
</section>

<!-- Rails code -->

<% else %>

<!-- end of rails code -->

<section class="container-fluid" id="section1">
  <h1 class="text-center v-center"><span class="glyphicon glyphicon-ok"></span> </i>ReMND.it</h1>
  <h3 class="text-center">Save links to read later, create quick notes about your ideas, change the World!</h3><br>
  <div class="row">
      <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 text-center"><h3>Simple</h3><p>Don't write it down, just send it in an e-mail</p><i class="glyphicon glyphicon-pencil fa-3x"></i></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center"><h3>just@remnd.it</h3><p>The only address you need to remember</p><i class="glyphicon glyphicon-envelope fa-3x"></i></span></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-10 text-center"><h3>Powerful</h3><p>Keep on top of everything you want to remember with personalized categories</p><i class="glyphicon glyphicon-th fa-3x"></i></div>
          </div>
      </div>
  </div>
</section>

<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1>What is ReMND.it?</h1>
        <br>
    <p class="lead">Have you ever thought "I'll save this link to read it later" or "this is an awesome idea" and you write it down in a note just to never get back to it? Not again!.
    <p class="lead"> With ReMND.it you can send a quick e-mail to just@remnd.it we'll save it for you in your own personal list in the cloud!</p>
    <p class="lead">Then, when you have time, you can log-in to your account, form anywhere, see and organize all your notes and links, is that easy!</p>

        <br> 
        <button type="button" class="btn btn-default btn-lg">
            <%= link_to "Sign-up", new_user_registration_path %>
        </button>   
        <button type="button" class="btn btn-default btn-lg">
            <a href="#section3">Still want more info :/</a>
        </button>
              
    </div>
  </div>
</section>

<section class="container-fluid" id="section3">
  <h1 class="text-center">So this is how ReMND.it works</h1>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="text-center lead">Vertical scrolling has become a popular and lasting trend in Web design. The question becomes, is it here to stay?</p>
        <div class="row">
          <div class="col-xs-6">Some brand-tacular designs even have home page content that is taller that 12,000 pixels. That's a lotta content.</div>
          <div class="col-xs-6 text-right">Anyhoo, this is just some random blurb of text, and Bootply.com is a playground and code editor for Bootstrap.</div>
        </div>
        <p class="text-center">
          <img src="/assets/example/img_mtnpeople.png" class="img-responsive center-block ">
        </p>
        <p class="text-center">
        <button type="button" class="btn btn-default btn-lg">
            <%= link_to "Sign-up", new_user_registration_path %>
        </button>  
        </p> 
      </div>
   </div>
</section>

<section class="container-fluid" id="section6">
  <h1 class="text-center">Find us in social media!</h1>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-4 col-xs-4 text-center">
       <i class="fa fa-github fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
        <i class="fa fa-facebook fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
       <i class="fa fa-google-plus fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
       <i class="fa fa-twitter fa-4x"></i>
      </div>
   </div>
</section>

<!-- Rails code -->

<% end %>

<!-- end of rails code -->





