<!-- Body of main/landing page-->
           
<!-- Rails Code -->

<% if user_signed_in? %>

<!-- end of rails code -->

<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0 text-center">

<!-- Rails code -->

          <h2 class="text-center">Hello <% if @user.name != nil%>
                    <%= @user.name %>,
                    <%end%>
          here are your most recent notes</h2>

<!-- creates the navigation menu -->
      <div class="col-sm-3 column">  
      
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Navigation</h3>
              </div>
              <div class="panel-body">
              <div class="col-sm-12 column">  
                <%= form_tag '/', method: :get do %>
                <div class="input-group">
                  <%= search_field_tag :q, params[:q], :placeholder => "Search", :class => "form-control"%>
                  <span class="input-group-btn">
                  <%= submit_tag "Go!", :class =>"btn btn-default" %>
                  </span>
                </div>
                <br>
              </div>
                <% end %>
              <div class="col-sm-12 column">                
                <ul class="text-center nav nav-pills nav-stacked">
                  <li class="active"><a href="#newnotes" data-toggle="tab">Recent Notes</a></li>
                  <%= render 'categories' %>
                  <li><%= link_to "Edit Categories", '/categories/show_all' %></li>
                </ul>
              </div>

              </div>
            </div>

      </div>


<!-- Main pane, this display recent links or the results of search-->
<div class="tab-content">
  <div class="tab-pane active" id="newnotes">

       <div class="col-sm-9 column">  

          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Recent Notes</h3>
              </div>
              <div class="panel-body"> See all entries:
              <div row>
                <%= link_to "New first", main_links_path, method:'get', :class => "btn btn-default btn-xs" %>
                <%= link_to "Old first", main_old_links_path, method:'get', :class => "btn btn-default btn-xs" %>
              </div> 
                <br>
                <%= render 'links' %>
              </div>
          </div>
       </div>

</div>

 <%= render 'categorypanes'%> <!-- panes called when user selects a category from the navigation menu -->

</div>

<!-- end of rails code -->
              
    </div>
  </div>
</section>

<!-- Rails code -->

<% else %>

<!-- end of rails code -->

<!-- The rest of the code deals with the landing and info page for the app, no Rails code -->

<section class="container-fluid" id="section6">
  <h1 class="text-center v-center" color="000000"></i>ReMND.it</h1><br>
  <div class="row">
      <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 text-center"><h3>Create</h3><p>Create notes and save links for later on the go, from your mobile, computer, tablet, etc... acess them from everywhere!</p><i class="glyphicon glyphicon-pencil fa-3x"></i></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center"><h3>just@remnd.it</h3><p>Send your notes to this e-mail address... that's it, there is nothin else to remember! <br> We will save them for you</p><i class="glyphicon glyphicon-envelope fa-3x"></i></span></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-10 text-center"><h3>Organize</h3><p>Stay on top of everything by creatig personal categories and organizing your notes! <br>Be creative!</p><i class="glyphicon glyphicon-th fa-3x"></i></div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <br>
        <br>
            <%= link_to "Sign-up", new_user_registration_path, :class=>"btn btn-default btn-lg"%>
            <%= link_to "Tell me more!", '#section4', :class=>"btn btn-default btn-lg"%>
      </div> 
  </div>
</section>

<section class="container-fluid" id="section4">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1>So what is ReMND.it?</h1>
        <br>
    <p class="lead">For people that want to quickly save notes, links and thoughts on the go, without the hazle of learning or downloading a new app, ReMND.it offers a new way to do it by using the power of e-mail!</p><br>

     <p class="lead">That's it, e-mail, it doesn't mater if you use Gmail, Outlook, desktop or mobile. it will work! and the best thing is that there is only one address to remember "just@remnd.it"</p> <br>

     <p class="lead">That's it, no login, no password and no apps are required to save notes on the go. altough you still need to sign up at least once, se we can recognize your e-mail address ;)</p><br>

    <p class="lead">Once that you have some free time you can come here, on your phone, desktop or tablet, and see you notes, organize them by categories and get stuff done!, are you ready to start?</p>

        <br> 
        <p class="text-center">
            <%= link_to "Sign-up", new_user_registration_path, :class=>"btn btn-default btn-lg"%>
        </p>      
    </div>
  </div>
</section>

<section class="container-fluid" id="section2">
  <h1 class="text-center">About</h1>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="text-center lead">ReMND.it was created by Ed Rivera</p>
        <div class="row">
          <div class="col-xs-12 text-center">I am a newcomer to the development world, I have a little bit of experience with iOS development and a lot of experience with video games… mostly playing them =P. If you want to know more about me you can find my bio <a href="www.edgarrivera.com">here</a>.<br><br>
          ReMND.it is a project that originated during my Back End Web Development course at <a href=:"https://generalassemb.ly">General Assembly</a>. Interestingly enough I came with the idea for it when I noticed that I kept mailing ideas for my final project to myself in order to remember them (so meta!)<br><br>
          This iteration of ReMND.it is just a V1... actually more like a beta/alpha version. I have plans to further develop it and add new functionalities like the ability to receive a scheduled e-mail with you notes at the begging of the day (top request during user testing) and the ability to set up other reminders directly via e-mail!. Come back often to see what is new!</div>
        </div>
        <p class="text-center">
            <%= link_to "Sign-up", new_user_registration_path, :class=>"btn btn-default btn-lg"%>
        </p> 
      </div>
   </div>
   <br>
   <div class="row">
     <h1 class="text-center">Where to find ReMND.it?</h1>
      <div class="row">
        <div class="col-sm-1 col-sm-offset-5 col-xs-4 text-center">
         <a href="https://github.com/erenan/remndr"><i class="fa fa-github fa-4x"></i></a>
        </div>
        <div class="col-sm-1 col-xs-4 text-center">
         <a href="http://twitter.com/ReMNDit"><i class="fa fa-twitter fa-4x"></i></a>
        </div>
     </div>
    </div>
</section>

<!-- Rails code -->

<% end %>

<!-- end of rails code -->





