<section class="container-fluid" id="section2">
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 text-center">
        <br>
		<p class="lead">
			<h2>Register to ReMND.it</h2>
			<h3>Remember to use the e-mail address from which you will be sending your notes!</h3>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :name %> (Optional)<br />
			  <%= f.text_field :name, autofocus: true %></div>

			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, autofocus: true %></div>

			  <div><%= f.label :password %><br />
			    <%= f.password_field :password, autocomplete: "off" %></div>

			  <div><%= f.label :password_confirmation %><br />
			    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

			  <div><%= f.submit "Sign up" %></div>
			<% end %>

			<%= render "devise/shared/links" %>


		</p>
        <br> 
    </div>
  </div>
</section>