<!-- This is the core of the form to create NEW or EDIT LINKS (called NOTES in the app) -->

                    <% if @link.errors.any? %>
                        <h2>The following errors prevented your link from saving:</h2>
                    <ul>
                      <% @link.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                    <% end %>
                        <%= form_for @link do |f| %>
                        <fieldset>
                          <div>
                            <%= f.label :title %>
                            <%= f.text_field :title %>
                          </div>
                          <div>
                            <%= f.label :url %>
                            <%= f.text_field :url %>
                          </div>
                          <div>
                            <%= f.label :body %>
                            <%= f.text_field :body %>
                          </div>
                          <div>
                            <%= f.label :Category %>
                            <%= f.collection_select :category_id, Category.user_categories(current_user.id).order(:name),:id,:name, include_blank: true %>
                          </div>
                        </fieldset>
                        <%= f.submit %>
                        <% end %>

                    <%= link_to "Go Back", :back %>
