<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <br>
    <p class="lead">
      <h2>Add a new link to remember</h2>

          <% if @link.errors.any? %>
              <h2>The following errors prevented your link from saving:</h2>
          <ul>
            <% @link.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
          <% end %>

              <%= form_for @link do |f| %>
              <fieldset>
                <div>
                  <%= f.label :title %>
                  <%= f.text_field :title %>
                </div>
                <div>
                  <%= f.label :url %>
                  <%= f.text_field :url %>
                </div>
              </fieldset>
              <%= f.submit %>
              <% end %>

          <%= link_to "Go Back", :back %>


    </p>
        <br> 
    </div>
  </div>
</section>