<% @links.each do |l| %> <!-- will repeat for all the selected links, may be 5 (default at log-in), search, or all -->


            <h4 class="list-group-item-heading col-sm-offset-1 text-left"><%= link_to l.title, l.url%></h4>


        <div class="row">
            
    <!--This section displays the note "category" and allows for updating directly from the homepage -->
                <div class="col-sm-6 col-sm-offset-1 text-left">
                            
                    <p class="list-group-item-text" align="left"><b>Category</b>: <%= l.category %> </p>

                    <p class="list-group-item-text" align="left"><b>Created</b>: <%= l.created_at.to_date.to_formatted_s(:long_ordinal) %> ||   
                    <% if l.updated_at == nil %>
                        <b> Never updated </b>
                    <% else %>
                        <b>Updated</b>: <%= l.updated_at.to_date.to_formatted_s(:long_ordinal) %>
                    <% end %></p>

                </div>

    <!-- This section displays more sundry info and adds a DELETE button to destroy the LINK (called NOTE in the app) -->
                <div class="col-sm-5 col-sm-offset-0 text-left">

            <!-- Java implementation of Twitter button-->
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=l.url%>" data-text="<%=l.title%>" data-via="ReMNDit" data-lang="en" data-count="none">Tweet</a>
                    
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                   
                    <br>

                </div>

        </div>
                
            <br>

        <% end %>