<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <br>
    <p class="lead">
      <h2>Add a new category</h2>

          <% if @category.errors.any? %>
              <h2>The following errors prevented your category from saving:</h2>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
          <% end %>

              <%= form_for @category do |f| %>
              <fieldset>
                <div>
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                </div>
              </fieldset>
              <%= f.submit %>
              <% end %>

          <%= link_to "Go Back", :back %>


    </p>
        <br> 
    </div>
  </div>
</section>